- title "Pet"

- if !owned?(@pet)
  %b== <span class='#{@pet.lost_or_found}'>#{@pet.lost_or_found}</span> in #{@pet.user.city}, #{@pet.user.state} #{@pet.user.zip}

%p
  %strong Name:
  =h @pet.name
%p
  %strong Dog Or Cat:
  =h @pet.dog_or_cat
%p
  %strong Lost Or Found:
  =h @pet.lost_or_found
%p
  %strong Breed:
  =h @pet.breed
%p
  %strong Color:
  =h @pet.color
%p
  %strong Weight:
  =h @pet.weight
%p
  %strong Description:
  =h @pet.description

%p
  - if owned?(@pet)
    = link_to "Edit", edit_pet_path(@pet)
    |
    = link_to "Destroy", [@pet.user,@pet], :confirm => 'Are you sure?', :method => :delete
    
- if !owned?(@pet)
  %h3= link_to "<span>Leave a message for the #{@pet.lost_or_found == 'Lost' ? 'Owner' : 'Finder'}</span>", message_pet_path(@pet), :class => 'button'