- fieldset_form_for @user do |f|
  = f.error_messages
  = f.text_field :username
  = f.text_field :email
  = f.text_field :phone
  = f.text_field :city
  = f.state_select :state
  = f.text_field :zip
  = f.password_field :password
  = f.password_field :password_confirmation
  - if @user.new_record?
    = f.submit "Sign up"
  - else
    = f.submit "Update Profile"