- title "About"

.div{:style => 'float:right;width:150px;', :class => 'box'}
  %b Open source project
  %p= link_to 'Git it at Github','http://github.com/voodoo/Twilio'
  %p Help us help others find their pets.

%h3 A project created for a contest

%p= link_to 'Heroku + Twilio', 'http://blog.heroku.com/archives/2009/7/6/twilio_developer_contest/'


%p We did it for fun, also, and to learn Twilio, which we intend to use for many other projects. 

%p 
  Twilio is a GREAT tool in your toolbox if you are a developer - at least we think so and our customers 
  are definately excited about it as well.

%p 
  We'll eventually bake this functionality into  
  = link_to 'http://PetVetRecs.com', 'http://PetVetRecs.com'
  
%p
  But for now we wanted to open source it (we were originally just going to do the demos in Rails!) 
  because we think it might be helpful to others getting started with 
  Twilio and because others might want to help others find their lost pet. 

%h2 iPhone
%ul
  %li= link_to "iPhone version", '/iphone'
  %li= link_to "Twilio console (login as admin/1111)", '/twilio'

  
%p 
  So, 
  = link_to "fork it!", 'http://github.com/voodoo/Twilio'
  
