!!! Strict
%html{ "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;  charset=iso-8859-1", "http-equiv" => "Content-Type" }
    %meta{ :name => "description", :content => "lost and found dogs and cats" }
    %meta{ :name => "keywords", :content => "lost and found animals, dogs and cats" }
    = stylesheet_link_tag 'app','scaffold', 'fieldset_forms', 'box', 'button'
    = javascript_include_tag :defaults
    %title
      Lost &amp; Found Dogs &amp; Cats
  %body
    #container
      #header
        %h1          
          LOST &amp;
          %span
            FOUND
          %small{:style => 'float:right'}
            Dogs
            %span &amp; Cats        
      #wrapper
        #navigation
          = render :partial => 'layouts/navigation'
        #content-wrapper
          #content
            - if @title
              %h1= @title
            = flash_messages(:fade => 5)
            = yield
        #sidebar-wrapper
          #sidebar
            %h3
              Lost
            %ul#sidenotes
              %li
                %a{ :href => cats_pets_path }
                  Cats
              %li
                %a{ :href => dogs_pets_path }
                  Dogs
              %li
                %a{ :href => new_pet_path }
                  Submit
        #footer
          By
          %a{ :href => "http://Integrated-Internet.com" }
            Integrated Internet
          and
          %a{ :href => "http://PetVetRecs.com" }
            Pet Vet Records
